<h3 id="tally_new_h3"> WOULD YOU RATHER? </h3>

<div id="tally_new_opt_a">
    <%= link_to @random_question.opt_A, tally_path(@random_question.id, 'A'), method: 'post' %>
</div>
<p id="tally_new_or">or</p>
<div id="tally_new_opt_b">
    <%= link_to @random_question.opt_B, tally_path(@random_question.id, 'B'), method: 'post' %>
</div>