

<div id="user_info_name_container">
    <p class="user_info_name">Display Name:</p> 
    <h3 class="user_info_name"><%= @current_user.name %></h3>
</div>

<div id="user_info_email_container">
    <p class="user_info_email">Email:</p>
    <p class="user_info_email"><%= @current_user.email %></p>
</div>

<div id="user_info_dob_container">
    <p class="user_info_dob">Dob:</p>  
    <p class="user_info_dob"><%= @current_user.dob.strftime("%d-%m-%Y")%></p> 
</div>


