
<ul id="user_info_list">
    <li>Display Name: <h1><%= @current_user.name %></h1></li>
    <li>Email: <%= @current_user.email %></li>
    <li>Dob: <%= @current_user.dob.strftime("%d-%m-%Y") %></li>

    
</ul>