/* ---------------------------------------------------------------- */
/* ------------------- application.html.erb ----------------------- */
/* ---------------------------------------------------------------- */
body {

    background-color: rgb(227, 207, 147);
    color: black;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);

}
#nav_header{
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;


}
#main_footer{
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 6;

}
#wyr_nav_emblem{

    display: block;
    position: absolute;
    right: 0vw;
    top: 0vh;
    width: 10vw;
    height: auto;

}
/* ---------------------------------------------------------------- */
/* ------------------- questions/ show.html.erb ------------------- */
/* ---------------------------------------------------------------- */
#question_container{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    justify-content:space-around;
    margin: 5vw;

    border: 4px ridge slategray;
}
#wyr_text{
    align-self: flex-start;

}
#part_a_text{
    
    align-self: center;
    text-align: center;

}
#or{
    align-self: flex-start;
}
#part_b_text{
    align-self: center;
    text-align: center;

}

#prev_choice_start{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    text-align: center;
}           /*      "Others Chose"           */           
#prev_choice_mid{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    align-self: end;
    text-align: center;

}           /*      "Option A:"              */
#opt_a_total_container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    align-content: space-between;
    text-align: center;
    align-self: flex-start;
    display: block;
}           /*      Option A details         */
#prev_choice_end{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    align-self: end;
    text-align: center;

}           /*      "Option B:"              */
#opt_b_total_container{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    align-self: flex-start;
}           /*      Option B details         */

#visual_of_choices{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

    border: 3px solid red;

}
#option_a_box{
    border: 2px solid blue;
    height:fit-content;
    box-sizing: border-box;
    display: inline-block;
    background-color: aqua;
}
#option_b_box{
    border: 2px solid green;
    box-sizing: border-box;
    display: inline-block;
}
/* ---------------------------------------------------------------- */
/* ---------------- questions / random.html.erb ------------------- */
/* ---------------------------------------------------------------- */
#tally_new_h3{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: center;
    align-self: end;
}
#tally_new_opt_a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;

    justify-self: end;
    align-self: center;
}
#tally_new_or{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

    
    justify-self: center;
    align-self: center;
}
#tally_new_opt_b{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;

    justify-self: start;
    align-self: center;
}
/* ---------------------------------------------------------------- */
/* --------------------- users / show.html.erb -------------------- */
/* ---------------------------------------------------------------- */
#user_info_name_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;

}
#user_info_email_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
#user_info_dob_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
      
}
/* ---------------------------------------------------------------- */
/* ------------------ questions / new.html.erb -------------------- */
/* ---------------------------------------------------------------- */
#new_question_h2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-self: center;
    align-self: flex-end;
    border: 2px ridge goldenrod;
    padding: 0.5vw;
}

.question_container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}