a:link {
    color:#242423;
}
a:visited{
    color:#231f20;
}
article{
    color: pink;
    font-size: 20pt;
}
#node1{
    height: 10vh;
    width: 10vw;

}

/* ---------------------------------------------------------------- */
/* ------------------- application.html.erb ----------------------- */
/* ---------------------------------------------------------------- */
#main_body_background_image{

    height: 100%;
    width: 100%;
    background-color: #231f20;
    
    
}
#main_body_contents_container {
   
    height: 101vh;
    width: 101vw;
    position: absolute;

    color: #ffffff;
    width: 101vw;
    height: 101vh;
    

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);

}
h3{
    color: #242423;
    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;
    font-size: 25pt;
    /* display: inline; */

}

/* ---------------------------------------------------------------- */
/* ------------------- questions/ show.html.erb ------------------- */
/* ---------------------------------------------------------------- */
#question_main_container{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    
    right: 10vw;
    background-color: #242423;
    box-shadow: 1px 1px 5px rgb(246, 59, 187);
    border-radius: 10%;
    width: 30%;

}

#question_container{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;

    display: flex;
    justify-content:space-evenly;
    
    padding: 5px;


    text-align: center;
}
.wyr_text{
    align-self: center;

}
#part_a_text{
    color: #054a83;
    align-self: center;
    text-align: center;
    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #ff44f9

}
#or{
    align-self: flex-start;
}
#part_b_text{
    color: #fe9c00;
    align-self: center;
    text-align: center;
    text-shadow: -0.5px -1px 0.2 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #ff44f9
    
}

#prev_choice_start{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    align-self: center;
    font-size: 17pt;
}           /*      "Others Chose"           */           
#prev_choice_mid{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    align-self: end;
    text-align: center;

}           /*      "Option A:"              */
#opt_a_total_container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    align-content: space-between;
    text-align: center;
    align-self: flex-start;
    display: block;
}           /*      Option A details         */
#prev_choice_end{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: center;
    align-self: end;
    text-align: center;

}           /*      "Option B:"              */
#opt_b_total_container{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    align-self: flex-start;
}           /*      Option B details         */

#visual_of_choices{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

    border: 4px ridge slategray;
    filter: drop-shadow(1px 1px 1vw #ff44f9);
    white-space: nowrap;
    display: inline-flex;
}
#option_a_box{
   
    background-image: none;
    background-color: #054a83;
    height:17vh;
    display: inline-block;
    box-sizing: border-box;
    align-self: center;
    
}
#option_b_box{
  
    background-image: none;
    background-color: #f69f21;
    height: 17vh;
    display: inline-block;
    box-sizing: border-box;

}

#question_show_no_data_available{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;

}
/* ---------------------------------------------------------------- */
/* ---------------- questions / random.html.erb ------------------- */
/* ---------------------------------------------------------------- */
.tally_new_main{
    background-color:#242423 ;
    z-index: 5;
    text-align: center;
}
.tally_new_container_small{

    border-radius: 100%;
    overflow: hidden;
    position: relative;
    height: 5vw;
    width: 5vw;
	filter: drop-shadow(2px 1px .5px pink);

    left: 35vw;
    bottom: -85vh;
    
    /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: .5s;

}
.tally_new_container_large{
    /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: .5s;
    border-radius: 10%;
    overflow: auto;

    height: 40vw;
    width: 20vw;
	filter: drop-shadow(2px 1px .5px pink);
}


.tally_new_h3{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: center;
    align-self: end;
    
}
.tally_new_opt_a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #054a83;

    justify-self: end;
    align-self: center;
    border: 0.25vw ridge #242423;
    padding: 1vw;

    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #ff44f9 ;

}
.tally_new_or{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

    
    justify-self: center;
    align-self: center;
}
.tally_new_opt_b{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #f69f21;


    justify-self: start;
    align-self: center;
    border: 0.25vw ridge #242423;
    padding: 1vw;

    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #ff44f9 ;

}

.question_next_container{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

    justify-self: center;
    border: 0.25vw ridge #242423;
    padding: 1vw;
    align-self: center;
    z-index: 500;
    background-color: #9fd8e5;
    filter: drop-shadow(0.5px 0.5px 1vw #ff44f9);

}
.question_next_link{
    z-index: 500;
}
/* ---------------------------------------------------------------- */
/* --------------------- users / show.html.erb -------------------- */
/* ---------------------------------------------------------------- */
#user_info_main_container{
height: 40vh;
width: 30vw;
display: inline-flex;
flex-direction: column;
background-color: #231f20;
border-radius: 20%;
box-shadow: 1px 1px 5px rgb(246, 59, 187);



}
#user_info_name_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;

}
#user_info_email_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
#user_info_dob_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
      
}
#user_info_made_questions_container{

}
.user_info_made_question{

}

/* ---------------------------------------------------------------- */
/* --------------- questions / new&edit.html.erb ------------------ */
/* ---------------------------------------------------------------- */
#new_question_h2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #231f20;
    justify-self: right;
    align-self: flex-end;
    box-shadow: 1px 1px 5px rgb(8, 234, 255);
    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;

    
    border-radius: 100%;
    padding: 0.5vw;
}
#edit_question_h2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-self: right;
    align-self: flex-end;
    color: #231f20;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgb(8, 234, 255);
    text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;


    padding: 0.5vw;
}
.question_container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-content: center;

    position: absolute;
    
    right: 10vw;
    background-color: #242423;
    box-shadow: 1px 1px 5px rgb(246, 59, 187);
    border-radius: 10%;
    width: 30%;

}
.new_or_edit_text_box{
    width: 50vw;
    height: 5vh;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(8, 234, 255);

}

#edit_question_link_container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;

}
#edit_question_link{
  border: 2px ridge #242423;
  padding: 3px;
  background-color: #a1dbe8;


    
}
#question_cancel_button{

}
.question_edit_new_button{
    
}
#question_delete{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    height: min-content;
    width: min-content;
    margin: 20vh 0 0 0 ;

    justify-self: center;

}

/* ---------------------------------------------------------------- */
/* --------------------- NEW main menu ---------------------------- */
/* ---------------------------------------------------------------- */
.menu_container_toggle_off{
    border-radius: 100%;
    width: 8vw;
    height: 8vw;
    bottom: 60vh;
    right: 70vw;
    font-size: 10pt;
    background-color:#242423;

    /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 1s;
    z-index: 1000


}
.menu_container_toggle_on{
    border-radius: 15%;
    width: 15vw;
    height: 15vh;
    bottom: 15vh;
    right: 15vw;
    font-size: 15pt;
    background-color:pink;
    

    /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 1s;
    z-index: 1000


}
/* #menu_facade{
    display: block;
    z-index: 500;
    background-image:;
} */
#click_el{
    justify-content: center;

}
#menu_container{
    position: absolute;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: inline-flex;
    color: #242423;
   
    filter: drop-shadow(1px 1px 10px rgb(246, 59, 187))drop-shadow(0px 1px 1px rgba(255, 0, 221,50%)) drop-shadow(-1px 1px 1px pink) drop-shadow(0px 0px 1px rgba(0, 255, 251, 0.987));
    
    animation-name: quiver;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    

}
@keyframes quiver {

    0% {
        left: 22%;
        top: 40%;
    
    }
    25% {
        left: 23.1%;
        top: 40.9%
    }

    50% {
        left: 23.5%;
        top: 42%;
    }

    75%{
        left: 22.5%;
        top: 42.5%
    }

    100%{
        left: 22%;
        top:40%
    }

}


.menu_item{

    position: relative;
    display: flexbox;



}

#swirl{
    /* display: none; */ /* COMMENT IN TO TOGGLE SWIRL PATTERN OFF */


    position: absolute;
    top: -2%;
    left: -2%;


}
.st1{

    animation: rotation 120s linear infinite;
    transform-origin: center;
    filter: drop-shadow(0px 1px 1px rgba(255, 0, 221,50%)) drop-shadow(-1px 1px 1px pink) drop-shadow(0px 0px 1px rgba(0, 255, 251, 30%));
    /* filter: drop-shadow(-2px 2px 1px pink); */

      
} /* class for vector swirls 0 3 7 10 */

@keyframes rotation {

    100% {transform: rotate(-359deg);}

}

  
#node1{

    height: 20vh;
    width: 20vw;
    color: aliceblue;

}


/* NOT COMPLETED - ANIMATION OF SPHERES */
/* .tally_new_container_small:nth-of-type(1){

    background-color: white;
    position: relative;
    top: 19vh;
    left: 28vw;

    transform-origin: top center;
    animation-name: orbit;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    

}
@keyframes orbit {

    from    { transform: rotate(0deg)   }
    to      { transform: rotate(359deg) }


} */